header {
  background-color: orange;
  color: white;
  text-align: center;
}
#hi1 {
  text-align: center;
  font-size: 25px;
}

.img {
  margin: 10px;
  padding: 10px;
  border: black solid 4px;
  border-radius: 25%;
}
.img:hover {
  margin: 10px;
  padding: 10px;
  border: blue solid 4px;
  border-radius: 25%;
  width: 270px;
  height: 270px;
}
.a {
  font-size: 35px;
  text-decoration: none;
  color: black;
}
.a:hover {
  font-size: 40px;
  text-decoration: none;
  color: blue;
}
